/* Font Size */

:root {
  --green: rgb(0, 255, 100);
  --blue: rgb(0, 100, 255);
  --purple: rgb(255, 0, 255);
  --red: rgb(255, 0, 50);
  --orange: rgb(255, 100, 0);
  --yellow: rgb(255, 200, 50);

  /* Dark Mode */

  --bg-color-1: rgb(15, 20, 25);
  --bg-color-2: rgb(20, 25, 30);
  --bg-color-3: rgba(28, 35, 42);
  --bg-color-4: rgba(37, 45, 53);
  --bg-color-5: rgba(56, 65, 74);
  /*  */
  --text-color-1: rgba(145, 150, 155);
  --text-color-2: white;
  --text-color-3: rgba(120, 125, 130);
  /*  */
  --text-comp-color-1: rgba(60, 75, 90);
  --text-comp-color-2: black;
  --text-comp-color-3: rgba(100, 115, 130);
  /*  */
  --bg-comp-color-1: rgb(215, 225, 235);
  --bg-comp-color-2: rgb(225, 235, 245);
  --bg-comp-color-3: rgb(235, 245, 255);
  --bg-comp-color-4: rgb(255, 255, 255);
  --bg-comp-color-5: rgb(255, 255, 255);
  /*  */
  --base-1: rgba(0, 0, 0);
  --base-08: rgba(0, 0, 0, 0.8);
  --base-06: rgba(0, 0, 0, 0.6);
  --base-04: rgba(0, 0, 0, 0.4);
  --base-03: rgba(0, 0, 0, 0.3);
  --base-02: rgba(0, 0, 0, 0.2);
  --base-01: rgba(0, 0, 0, 0.1);
  --base-004: rgba(0, 0, 0, 0.04);
  /*  */
  --base-comp-1: rgba(255, 255, 255);
  --base-comp-08: rgba(255, 255, 255, 0.8);
  --base-comp-06: rgba(255, 255, 255, 0.6);
  --base-comp-04: rgba(255, 255, 255, 0.4);
  --base-comp-03: rgba(255, 255, 255, 0.3);
  --base-comp-02: rgba(255, 255, 255, 0.2);
  --base-comp-01: rgba(255, 255, 255, 0.1);
  --base-comp-004: rgba(255, 255, 255, 0.04);
}

body.light {
  /*  */
  --bg-color-1: rgb(220, 230, 240);
  --bg-color-2: rgb(225, 235, 245);
  --bg-color-3: rgb(231, 245, 255);
  --bg-color-4: rgb(255, 255, 255);
  --bg-color-5: rgb(255, 255, 255);
  /*  */
  --text-color-1: rgba(60, 75, 90);
  --text-color-2: black;
  --text-color-3: rgba(100, 115, 130);
  /*  */
  --text-comp-color-1: rgba(145, 150, 155);
  --text-comp-color-2: white;
  --text-comp-color-3: rgba(120, 125, 130);
  /*  */
  --bg-comp-color-1: rgb(20, 25, 30);
  --bg-comp-color-2: rgba(40, 45, 50);
  --bg-comp-color-3: rgba(30, 35, 40);
  --bg-comp-color-4: rgba(60, 65, 70);
  --bg-comp-color-5: rgb(15, 20, 25);
  /*  */
  --base-comp-1: rgba(0, 0, 0);
  --base-comp-08: rgba(0, 0, 0, 0.8);
  --base-comp-06: rgba(0, 0, 0, 0.6);
  --base-comp-04: rgba(0, 0, 0, 0.4);
  --base-comp-03: rgba(0, 0, 0, 0.3);
  --base-comp-02: rgba(0, 0, 0, 0.2);
  --base-comp-01: rgba(0, 0, 0, 0.1);
  --base-comp-004: rgba(0, 0, 0, 0.04);
  /*  */
  --base-1: rgba(255, 255, 255);
  --base-08: rgba(255, 255, 255, 0.8);
  --base-06: rgba(255, 255, 255, 0.6);
  --base-04: rgba(255, 255, 255, 0.4);
  --base-03: rgba(255, 255, 255, 0.3);
  --base-02: rgba(255, 255, 255, 0.2);
  --base-01: rgba(255, 255, 255, 0.1);
  --base-004: rgba(255, 255, 255, 0.04);
}

::selection {
  color: white;
  background: var(--green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: none;
  color: var(--text-color-1);
  background: transparent;
  outline: none;
  border: none;
  list-style: none;
  line-height: 120%;
  transition: inherit;
}

.ws-pre-wrap {
  white-space: pre-wrap;
}

.ws-no-wrap {
  white-space: nowrap;
  overflow: hidden;
}

body {
  background-color: var(--bg-color-2);
  font-family: "sofia-pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease;
}

/* Font Family */

.ff-cubano {
  font-family: "cubano", sans-serif;
  color: var(--text-color-2);
}

.ff-sofia-pro {
  font-family: "sofia-pro", sans-serif;
}

.ff-attribute-mono {
  font-family: "attribute-mono", sans-serif;
}

/* Line Height */

.lh-100 {
  line-height: 100%;
}

.lh-105 {
  line-height: 105%;
}

.lh-110 {
  line-height: 110%;
}

.lh-115 {
  line-height: 115%;
}

.lh-120 {
  line-height: 120%;
}

.lh-125 {
  line-height: 125%;
}

.lh-130 {
  line-height: 130%;
}

.lh-135 {
  line-height: 135%;
}

.lh-140 {
  line-height: 140%;
}

.lh-145 {
  line-height: 145%;
}

.lh-150 {
  line-height: 150%;
}

.lh-155 {
  line-height: 155%;
}

.lh-160 {
  line-height: 160%;
}

/*  */

/* Font Size */

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}

/* Font Weight */

.fw-100 {
  font-weight: 500;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

/* Gap */

.gap-4 {
  gap: 4px;
}

.gap-6 {
  gap: 6px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-26 {
  gap: 26px;
}

.gap-32 {
  gap: 32px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 40px;
}

.gap-60 {
  gap: 60px;
}

.gap-80 {
  gap: 80px;
}

.gap-100 {
  gap: 100px;
}

.gap-120 {
  gap: 120px;
}

/* Margin Top */

.margin-top-4 {
  margin-top: 4px;
}

.margin-top-6 {
  margin-top: 6px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-26 {
  margin-top: 26px;
}

.margin-top-32 {
  margin-top: 32px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 40px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-120 {
  margin-top: 120px;
}

/* Margin Bottom */

.margin-bottom-4 {
  margin-bottom: 4px;
}

.margin-bottom-6 {
  margin-bottom: 6px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-26 {
  margin-bottom: 26px;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-bottom-100 {
  margin-bottom: 80px;
}

.margin-bottom-120 {
  margin-bottom: 80px;
}

/* Margin Right */

.margin-right-4 {
  margin-right: 4px;
}

.margin-right-6 {
  margin-right: 6px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-26 {
  margin-right: 26px;
}

.margin-right-32 {
  margin-right: 32px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-right-60 {
  margin-right: 60px;
}

.margin-right-80 {
  margin-right: 80px;
}

.margin-right-100 {
  margin-right: 100px;
}

.margin-right-120 {
  margin-right: 120px;
}

/* Margin Left */

.margin-left-4 {
  margin-left: 4px;
}

.margin-left-6 {
  margin-left: 6px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-26 {
  margin-left: 26px;
}

.margin-left-32 {
  margin-left: 32px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-50 {
  margin-left: 50px;
}

.margin-left-60 {
  margin-left: 60px;
}

.margin-left-80 {
  margin-left: 80px;
}

.margin-left-100 {
  margin-left: 100px;
}

.margin-left-120 {
  margin-left: 120px;
}
/* Margin Y */

.margin-y-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.margin-y-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.margin-y-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.margin-y-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.margin-y-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-y-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-y-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-y-26 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.margin-y-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.margin-y-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-y-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-y-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.margin-y-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.margin-y-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.margin-y-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

/* Padding Top */

.padding-top-2 {
  margin-top: 4px;
}

.padding-top-4 {
  margin-top: 4px;
}

.padding-top-6 {
  padding-top: 6px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-26 {
  padding-top: 26px;
}

.padding-top-32 {
  padding-top: 32px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-top-120 {
  padding-top: 120px;
}

/* Padding Bottom */

.padding-bottom-2 {
  padding-bottom: 2px;
}

.padding-bottom-4 {
  padding-bottom: 4px;
}

.padding-bottom-6 {
  padding-bottom: 6px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-26 {
  padding-bottom: 26px;
}

.padding-bottom-32 {
  padding-bottom: 32px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.padding-bottom-120 {
  padding-bottom: 120px;
}

/* Padding Y */

.padding-y-2 {
  padding-bottom: 2px;
  padding-top: 2px;
}

.padding-y-4 {
  padding-bottom: 4px;
  padding-top: 4px;
}

.padding-y-6 {
  padding-bottom: 6px;
  padding-top: 6px;
}

.padding-y-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.padding-y-15 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.padding-y-20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.padding-y-26 {
  padding-bottom: 26px;
  padding-top: 26px;
}

.padding-y-32 {
  padding-bottom: 32px;
  padding-top: 32px;
}

.padding-y-40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.padding-y-50 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.padding-y-60 {
  padding-bottom: 60px;
  padding-top: 60px;
}

.padding-y-80 {
  padding-bottom: 80px;
  padding-top: 80px;
}

.padding-y-100 {
  padding-bottom: 100px;
  padding-top: 100px;
}

.padding-y-120 {
  padding-bottom: 120px;
  padding-top: 120px;
}

/* Padding All */

.padding-all-2 {
  padding: 2px;
}

.padding-all-4 {
  padding: 4px;
}

.padding-all-6 {
  padding: 6px;
}

.padding-all-10 {
  padding: 10px;
}

.padding-all-15 {
  padding: 15px;
}

.padding-all-20 {
  padding: 20px;
}

.padding-all-26 {
  padding: 26px;
}

.padding-all-32 {
  padding: 32px;
}

.padding-all-40 {
  padding: 40px;
}

.padding-all-50 {
  padding: 50px;
}

.padding-all-60 {
  padding: 60px;
}

.padding-all-80 {
  padding: 80px;
}

.padding-all-100 {
  padding: 100px;
}

.padding-all-120 {
  padding: 120px;
}

/* Pdding X */

.padding-x-2 {
  padding-right: 2px;
  padding-left: 2px;
}

.padding-x-4 {
  padding-right: 4px;
  padding-left: 4px;
}

.padding-x-6 {
  padding-right: 6px;
  padding-left: 6px;
}

.padding-x-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.padding-x-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.padding-x-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.padding-x-26 {
  padding-right: 26px;
  padding-left: 26px;
}

.padding-x-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.padding-x-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.padding-x-50 {
  padding-right: 50px;
  padding-left: 50px;
}

.padding-x-60 {
  padding-right: 60px;
  padding-left: 60px;
}

.padding-x-80 {
  padding-right: 80px;
  padding-left: 80px;
}

.padding-x-100 {
  padding-right: 100px;
  padding-left: 100px;
}

.padding-x-120 {
  padding-right: 120px;
  padding-left: 120px;
}

/* Padding Right */

.padding-right-2 {
  padding-right: 2px;
}

.padding-right-4 {
  padding-right: 4px;
}

.padding-right-6 {
  padding-right: 6px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-26 {
  padding-right: 26px;
}

.padding-right-32 {
  padding-right: 32px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-right-60 {
  padding-right: 60px;
}

.padding-right-80 {
  padding-right: 80px;
}

.padding-right-100 {
  padding-right: 100px;
}

.padding-right-120 {
  padding-right: 120px;
}

/* Padding left */

.padding-left-2 {
  padding-left: 2px;
}

.padding-left-4 {
  padding-left: 4px;
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-26 {
  padding-left: 26px;
}

.padding-left-32 {
  padding-left: 32px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-left-60 {
  padding-left: 60px;
}

.padding-left-80 {
  padding-left: 80px;
}

.padding-left-100 {
  padding-left: 100px;
}

.padding-left-120 {
  padding-left: 120px;
}

/* Padding All */

.padding-all-6 {
  padding: 6px;
}

.padding-all-10 {
  padding: 10px;
}

.padding-all-15 {
  padding: 15px;
}

.padding-all-20 {
  padding: 20px;
}

.padding-all-26 {
  padding: 26px;
}

.padding-all-32 {
  padding: 32px;
}

.padding-all-40 {
  padding: 40px;
}

.padding-all-50 {
  padding: 50px;
}

.padding-all-60 {
  padding: 60px;
}

.padding-all-80 {
  padding: 80px;
}

.padding-all-100 {
  padding: 100px;
}

.padding-all-120 {
  padding: 120px;
}

/* Display */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.ow-anywhere {
  overflow-wrap: anywhere;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

.hidden {
  display: hidden;
}

/* Justify Content */

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

/* Align Items */

.align-start {
  display: flex;
  align-items: flex-start;
}

.align-end {
  display: flex;
  align-items: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.width-100pc {
  width: 100%;
}

.height-100pc {
  height: 100%;
}

.width-100vw {
  width: 100vw;
}

.height-100vh {
  height: 100vh;
}

/* Position */

.pos-fixed {
  position: fixed;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

/* Z Index */

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 10;
}

.z-2 {
  z-index: 20;
}

.z-3 {
  z-index: 30;
}

/* Cursor */

.cursor-pointer {
  cursor: pointer;
}

/* Text transform */

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-dec-underline {
  text-decoration: underline;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(55, 55, 55, 0.05);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(55, 55, 55);
}

/* Border Radius */

.border-radius-2 {
  border-radius: 2px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-50pc {
  border-radius: 50%;
}

.border-radius-25pc {
  border-radius: 25%;
}

.border-radius-10px {
  border-radius: 10%;
}

/*  */

.border-top-left-radius-2 {
  border-top-left-radius: 2px;
}

.border-top-left-radius-4 {
  border-top-left-radius: 4px;
}

.border-top-left-radius-6 {
  border-top-left-radius: 6px;
}

.border-top-left-radius-10 {
  border-top-left-radius: 10px;
}

.border-top-left-radius-15 {
  border-top-left-radius: 15px;
}

.border-top-left-radius-20 {
  border-top-left-radius: 20px;
}

.border-top-left-radius-200 {
  border-top-left-radius: 200px;
}

/*  */

.border-top-right-radius-2 {
  border-top-right-radius: 2px;
}

.border-top-right-radius-4 {
  border-top-right-radius: 4px;
}

.border-top-right-radius-6 {
  border-top-right-radius: 6px;
}

.border-top-right-radius-10 {
  border-top-right-radius: 10px;
}

.border-top-right-radius-15 {
  border-top-right-radius: 15px;
}

.border-top-right-radius-20 {
  border-top-right-radius: 20px;
}

.border-top-right-radius-200 {
  border-top-right-radius: 200px;
}

/*  */

.border-bottom-left-radius-2 {
  border-bottom-left-radius: 2px;
}

.border-bottom-left-radius-4 {
  border-bottom-left-radius: 4px;
}

.border-bottom-left-radius-6 {
  border-bottom-left-radius: 6px;
}

.border-bottom-left-radius-10 {
  border-bottom-left-radius: 10px;
}

.border-bottom-left-radius-15 {
  border-bottom-left-radius: 15px;
}

.border-bottom-left-radius-20 {
  border-bottom-left-radius: 20px;
}

.border-bottom-left-radius-200 {
  border-bottom-left-radius: 200px;
}

/*  */

.border-bottom-right-radius-2 {
  border-bottom-right-radius: 2px;
}

.border-bottom-right-radius-4 {
  border-bottom-right-radius: 4px;
}

.border-bottom-right-radius-6 {
  border-bottom-right-radius: 6px;
}

.border-bottom-right-radius-10 {
  border-bottom-right-radius: 10px;
}

.border-bottom-right-radius-15 {
  border-bottom-right-radius: 15px;
}

.border-bottom-right-radius-20 {
  border-bottom-right-radius: 20px;
}

.border-bottom-right-radius-200 {
  border-bottom-right-radius: 200px;
}

/*  */

.border-top-radius-2 {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.border-top-radius-4 {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.border-top-radius-6 {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.border-top-radius-10 {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.border-top-radius-15 {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.border-top-radius-20 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.border-top-radius-200 {
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}
/*  */

.border-bottom-radius-2 {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.border-bottom-radius-4 {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.border-bottom-radius-6 {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.border-bottom-radius-10 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.border-bottom-radius-15 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.border-bottom-radius-20 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.border-bottom-radius-200 {
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

/*  */

.border-top-left-radius-2 {
  border-top-left-radius: 2px;
}

.border-top-left-radius-4 {
  border-top-left-radius: 4px;
}

.border-top-left-radius-6 {
  border-top-left-radius: 6px;
}

.border-top-left-radius-10 {
  border-top-left-radius: 10px;
}

.border-top-left-radius-15 {
  border-top-left-radius: 15px;
}

.border-top-left-radius-20 {
  border-top-left-radius: 20px;
}

.border-top-left-radius-200 {
  border-top-left-radius: 200px;
}

.resize-none {
  resize: none;
}

.resize-vertical {
  resize: vertical;
}

.resize-horizontal {
  resize: horizontal;
}

.resize-both {
  resize: both;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-all-hidden {
  overflow: hidden;
}

/*  */

.transform-rotate-0deg {
  transform: rotateY(0deg);
}

.transform-rotate-180deg {
  transform: rotateY(180deg);
}

/*  */

textarea {
  transition: none;
  resize: none;
  height: 20px;
}

/* inherit */

.border-radius-inherit * {
  border-radius: inherit;
}

.color-inherit * {
  color: inherit;
}
